html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    margin-bottom: 20px;
    text-align: center;
    background-image:url(TimerToyImages/StopWatches.jpg);
}

.page_container {
    width: 100%;
    height:100% !important;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    opacity:.9;
    padding-bottom:20px;
}

.banner_table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
}

.banner_col1 {
    width: 50px;
    background-color: black;
    cursor: pointer;
}

.banner_col2 {
    width: 100%;
    background-color: black;
    text-align: left;
}



hr {
    height: 4px;
    width: 30px;
    background-color:white;
    border:none;
}

.banner {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
    border: none;
}

#banner:focus {
    background-color: lightgray;
    color: black;
}



input {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

    input:focus {
        outline: none;
    }


#MenuContainer {
    margin-top: 0px;
    margin-bottom: 15px;
    background-color:lightgray;
    display: none;
    padding-bottom:10px;
}

.menu_btn {
    padding: 5px;
    width: 80%;
    margin-top: 10px;
    display:none;
}


.container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.timer_edit_div {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: none;
    border-collapse: collapse;
    display: none;
    background-color: lightgrey;
}


.timer_name_wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.timer_name_inp {
    margin-top: 10px;
    width: 95%;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 2px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.timer_elapsed_time_div {
    margin-top: 10px;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: blue;
}

.timer_adj_div {
    box-sizing: border-box;
    padding-left: 80px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 0px;
}


.timer_adj_button_d {
    cursor: pointer;
    font-size: 18px;
    width: 30px;
}

.timer_adj_button_u {
    cursor: pointer;
    font-size: 18px;
    width: 30px;
    margin-right: 22px;
}

.timer_buttons_div {
    margin-top:10px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.timer_main_btn {
    width: 80px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.timer_button_name{
    padding-top:5px;
    font-size:20px;
}

.timer_button {
    width: 90%;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding-top: 5px;
    cursor: pointer;
}

.timer_button_time {
    font-size: 50px;
    font-family:monospace;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}


.link_button {
    width: 90%;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.link_edit_form {
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    background-color: lightgrey;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link_label {
    margin-left: 6px;
    font-size: 18px;
}

.link_name_inp_1 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px
}

.link_name_inp_2 {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px
}

.link_dlt_btn {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
    padding: 5px
}
