
@Scripts.Render(ViewBag.MoveJS)

<form id="form1" method="post" action="/SFDUC" enctype="multipart/form-data">

    <input type="hidden" id="aboutDisplayStatus" name="aboutDisplayStatus" value="@ViewBag.AboutDisplayStatus" runat="server" />
    <input type="hidden" id="gridString" name="gridString" runat="server" value="@ViewBag.GridString" />

    <input style="display:none;"
           type="file"
           name="fileInput"
           id="fileInput"
           onchange="reloadFile()" />

</form>

<div class="main_container" id="boardContainer">
</div>

<div class="main_container">

    <p class="para_header">JavaScript Devs:</p>

    <p class="para">
        Do you have the skill to write a JavaScript function
        to solve this puzzle?
        <a href="~/Scripts/move.js" target="_blank">Click Here.</a>
    </p>

</div>