

<script>
    let PageKey = "@ViewBag.PageKey";
</script>


<input type="text" id="banner"/>

<div id="container"></div>

<div style="clear:both;"></div>

<div id="bottomButtons">
    <button onclick="getNewPage();" class="bottomButton">New Page</button>
    <button onclick="addNewTimer();" class="bottomButton">Add Timer</button>
    <button onclick="gotoReadOnly();" class="bottomButton">Read Only</button>
</div>