<div class="container">

    <div id="banner">DAVE'S GAMES </div>

    <a class="button" href="~/D2D" target="_self">Dot-To-Dots</a>
    <a class="button" href="~/SudokuSolver" target="_self">Sudoku Solver Pro</a>
    <a class="button" href="~/GameOfLife" target="_self">Conway's Game of Life</a>
    <a class="button" href="~/SliderPuzzle" target="_self">2D Slider Puzzle</a>
    <a class="button" href="~/SFD" target="_self">Slider Puzzle For Devs</a>
    <a class="button" href="https://2upgift.club/$JavaScriptGuru" target="_self">2 Up Gift Club</a>

</div>

