<div class="container">

    <div id="banner">DAVE'S GAMES </div>

    <a class="button" href="~/D2D" target="_self">Dot-To-Dots</a>
    <a class="button" href="~/SudokuSolver" target="_self">Sudoku Solver Pro</a>
    <a class="button" href="~/GameOfLife" target="_self">Conway's Game of Life</a>
    <a class="button" href="~/SliderPuzzle" target="_self">2D Slider Puzzle</a>
    <a class="button" href="~/SFD" target="_self">Slider Puzzle For JS Devs</a>
    <a class="button" href="~/SFD2" target="_self">Slider Puzzle For API Devs</a>
    <a class="button" href="~/SFD3" target="_self">Slider Puzzle Test Engine</a>
    <a class="button" href="~/cl/$javascriptguru" target="_self">Virtual Chain Letter</a>

</div>

