
<div id="mainDiv">

</div>

<button id="btnTick" onclick="tickButton_onclick();">Tick</button>
<button id="btnStart" onclick="startButton_onclick();">Start</button>
<button id="btnSlower" onclick="slowerButton_onclick();">Slower</button>
<button id="btnFaster" onclick="fasterButton_onclick();">Faster</button>
<button id="btnReset" onclick="resetButton_onclick();">Reset</button>
<span id="spnTicks">Ticks = 0</span>

