@model DavesGamesMVC.DatabaseAccess.TheOrg.UserModel


<div class="container">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @{
        bool color = true;
        string GetClassName()
        {
            color = !color;
            return color == false ? "blue" : "green";
        }
    }

    <a class="stats-panel stats-panel-blue" href="https://paypal.me/@Model.UserName/10">
        <div class="stats-panel-name">@Model.UserName</div>
        <div class="stats-panel-stat">
            @(Model.UserOwnerCount.HasValue ? Model.UserOwnerCount : 0)
        </div>
    </a>

    <div id="DisplayWindow">

    </div>

    <span id="BackButton" class="material-icons" onclick="previous();">arrow_back_ios</span>

    <div style="display:none;">

        <div name="Question" id="Q" class="question">

            <div class="q-text">
                Is this your PayPal.me user name?
            </div>


            <br />
            <button onclick="showQuestion('Q-Y');">YES</button>
            <button onclick="showQuestion('Q-N');">NO</button>

        </div>

        <div name="Question" id="Q-Y" class="question">


            <div class="q-text">
                To Do List:
            </div>

            <ol>
                <li>
                    Test the blue <b style="color:blue;">@Model.UserName</b> button to see if it works.
                </li>
                <li>
                    Share your page with <b style="color:blue;"><i>at least</i></b> 3 friends.
                </li>
                <li>
                    Visit this page often and watch your network grow!
                </li>
                <li>
                    Optional: Make <b style="color:blue;">@Model.OwnerName</b>'s day by sending a $10 gift.
                </li>
            </ol>

            <br />
            <button onclick="window.open('https://paypal.me/WIGIWIZ/10');">$10</button>
            <button onclick="showQuestion('Q-Y-N');">DEMO</button>


        </div>

        <div name="Question" id="Q-Y-N" class="question">

            <div class="q-text">
                Assumptions:
            </div>

            <ol>
                <li>
                    New users will sponsor 1 new user each for only 3 days.
                </li>
                <li>
                    There are an unlimited number of potential new users.
                </li>
                <li>
                    The statement above is not true, but PayPal does have over 377 million active users.
                </li>
            </ol>

            <br />

            <br />
            <button onclick="showQuestion('Q-Y');">PREV</button>
            <button onclick="showQuestion('Q-Y-N-N');">NEXT</button>

        </div>

        <div name="Question" id="Q-Y-N-N" class="question">

            <div class="q-text">
                <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 1 User Count</div>
                <br />
                <div id="UserCount" style="text-align:center; font-size:32px;">0</div>
            </div>

            <br />
            <button onclick="nextDay(-1);">PREV</button>
            <button onclick="nextDay(1);">NEXT</button>

        </div>

        <div name="Question" id="Q-Y-N-N-N" class="question">

            <div class="q-text">
                <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 22 User Count</div>
                <br />
                <div id="UserCount" style="text-align:center; font-size:32px;">1048575</div>
                <br />
                <div id="DayNumber" style="text-align:center; font-size:20px;">Demo Complete</div>
            </div>

            <br />
            <button onclick="showQuestion('Q-Y');">HOME</button>

        </div>

        <div name="Question" id="Q-N">

            <div class="q-text">
                Do you have a PayPal.me link?
            </div>

            <br />
            <button onclick="showQuestion('Q-N-Y');">YES</button>
            <button onclick="window.open('https://paypal.me/', '_blank');">NO</button>

        </div>

        <div name="Question" id="Q-N-Y" class="question">


            <div style="text-align:left;">
                <div class="q-text">
                    Find My Page
                </div>
                <br />
                <br />

                <span class="q-text" style="color:grey;">
                    https://paypal.me/???
                </span>

                <input type="text" id="UserNameInput" value="" />


                <button onclick="addUser('WIGIWIZ');">FIND</button>
            </div>

        </div>

        <div name="Question" id="Q-N-Y-N" class="question">

            <div class="q-text">
                <div class="tenor-gif-embed" data-postid="21541696" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/slap-aww-really-bruh-slapped-are-you-joking-gif-21541696">Slap Aww GIF</a>from <a href="https://tenor.com/search/slap-gifs">Slap GIFs</a></div>
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>

        </div>


    </div>

</div>