

<div id="container">

    <div id="banner">
        <span></span>
    </div>


    <div class="outer-div"><div id="r00c00" class="inner-div"></div></div>
    <div class="outer-div"><div id="r00c01" class="inner-div"></div></div>
    <div class="outer-div"><div id="r00c02" class="inner-div"></div></div>
    <div class="outer-div"><div id="r00c03" class="inner-div"></div></div>
    <div class="outer-div"><div id="r00c04" class="inner-div"></div></div>

    <div class="outer-div"><div id="r01c00" class="inner-div"></div></div>
    <div class="outer-div"><div id="r01c01" class="inner-div"></div></div>
    <div class="outer-div"><div id="r01c02" class="inner-div"></div></div>
    <div class="outer-div"><div id="r01c03" class="inner-div"></div></div>
    <div class="outer-div"><div id="r01c04" class="inner-div"></div></div>

    <div class="outer-div"><div id="r02c00" class="inner-div"></div></div>
    <div class="outer-div"><div id="r02c01" class="inner-div"></div></div>
    <div class="outer-div"><div id="r02c02" class="inner-div"></div></div>
    <div class="outer-div"><div id="r02c03" class="inner-div"></div></div>
    <div class="outer-div"><div id="r02c04" class="inner-div"></div></div>

    <div class="outer-div"><div id="r03c00" class="inner-div"></div></div>
    <div class="outer-div"><div id="r03c01" class="inner-div"></div></div>
    <div class="outer-div"><div id="r03c02" class="inner-div"></div></div>
    <div class="outer-div"><div id="r03c03" class="inner-div"></div></div>
    <div class="outer-div"><div id="r03c04" class="inner-div"></div></div>

    <div class="outer-div"><div id="r04c00" class="inner-div"></div></div>
    <div class="outer-div"><div id="r04c01" class="inner-div"></div></div>
    <div class="outer-div"><div id="r04c02" class="inner-div"></div></div>
    <div class="outer-div"><div id="r04c03" class="inner-div"></div></div>
    <div class="outer-div"><div id="r04c04" class="inner-div"></div></div>

    <div id="footer" colspan="5">
        <table class="footer-table">
            <tr>
                <td class="footer-td td1"><button onclick="toggleShowNumbers(this)">SHOW</button></td>
                <td class="footer-td td2"><button onclick="shuffle()">SHUFFLE</button></td>
                <td class="footer-td td3" id="moveCount">0</td>
                <td class="footer-td td4" id="percentComplete">0%</td>
            </tr>
        </table>
    </div>

</div>

<script>
    picName = "@ViewBag.PicName";
</script>